* {
	/*border: 1px solid red !important;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	/*background:#E7E9EB;*/
}

.header {
	background: #2696BA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2696BA, #E7E9EB); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2696BA, #E7E9EB); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2696BA, #E7E9EB); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2696BA, #E7E9EB); /* Standard syntax */
	/*color: #454546;*/
	padding-top: 15px;
	padding-bottom: 15px;
}

body {
	background:#E7E9EB;
	margin:0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img, embed, object, video {
	max-width: 100%;
}

span {
	display:inline-block;
}

h1, h2, h3, h4, h5, h6, h7 {
	margin-top:5px;
	margin-bottom:5px;	
}

h1 {
	font-size:38px;
}

h2 {
	
}

h3 {

}

h4 {
	
}

hr {
	border: 1px solid lightgray;
}

th {
	background: #2696BA;
	text-align:center;
}

table {
	margin: 0 auto;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
	text-align:center;
}

tr:nth-child(even) {
	background:#FFFFFF;
}

tr:nth-child(odd) {
	background:#C0C0C0;
}

fieldset {
	border: solid 1px;
	-moz-border-radius:8px;  
	border-radius: 8px;  
	-webkit-border-radius: 8px;
}

/*Mobile Screens*/
@media screen and (max-width: 525px) {
	
	#datetime {
		width:100%;
		display: block;
		float: center;
		margin: 0 auto;
	}
	
	#title {
		display: block;
		width:100%;
	}
	
	#title h1 {
		text-align:center !important;
	}
	
	#prog_name {
		display:none;
	}
	table {
		display: block;
		overflow-x: auto;
		overflow-x: scroll;
	}
	/*#timeandtitle {
		width: 100%;
		margin: 0 auto;
	}*/

}
/*Tablets*/	
@media screen and (max-width: 830px) {
	#navhr {
		display:none;
	}
	#inner_wrapper {
		width:100%;
	}
	#menu {
		width: 0%;
	}
	#header2 {
		width: 100%;
	}
	.canvas {
		width: 100%;
		height: 100%;
		position: relative;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: .3s ease all;
		transition: .3s ease all;
	}
	.sidenav {
		height: 100%; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0;
		left: 0;
		background:#454546;
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 60px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}
}


/*Computers*/
@media screen and (min-width: 831px) {
	.sidenav {
		position: fixed;
		/*z-index: 2; /* Stay on top */
		/*background:#454546;*/
		width: 16.66%;
		max-width: 250px;
		top: 0;
		bottom: 0;
		background:#454546;
		overflow-y: auto;
	}
	#nav_button {
		display:none;
	}
	.closebtn {
		display:none;
	}
	/*.nav {
		background: #E7E9EB;
	}*/
	#menu.col-2 {
		position: relative;
		/*z-index: 3;*/
		background:#454546;
		max-width: 250px;
		float:left;
		height: 100%;
	}
}

.nav_list {
		font-size: 16px;
	}

.nav_item {
	  display: block;
	  text-align: center;
	  line-height: 20px;
	  padding-top: 10px;
	  padding-bottom:10px;
	  margin-bottom:5px;
	  width:125px;
	  text-transform: uppercase;
	  background: #2696BA;
	  float:center;
	  margin: 3px auto;
	}

.nav_item_users {
	  display: block;
	  text-align: center;
	  line-height: 20px;
	  padding-top: 10px;
	  padding-bottom:10px;
	  margin-bottom:5px;
	  width:125px;
	  text-transform: uppercase;
	  background: #186C89;
	  float:center;
	  margin: 3px auto;
	}
	
.closebtn {
    position: absolute;
    top: 0;
    right: 1px;
    font-size: 36px !important;
    margin-left: 50px;
}

.logo {
	display:block;
	max-width:100%;
	border-radius: 50%;
	margin: auto;
	padding-top: 10px;
}


.nav a {
	text-decoration: none;
	min-height: 48px;
	min-width: 48px;
	/*padding: 10px;
	/*background:#2696BA;*/
	color: #ffffff;
}

.nav a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.nav_item:hover {
}

.nav_item_admin:hover {
}

.grid {
    margin: 0 auto;
	padding: 0;
    /*max-width: 1280px;
    width: 100%;
    background:#E7E9EB;*/
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.error.row {
	margin-left: 5px;
}

.error {
	color:red !important;
}

#frame {
	background:white;
	max-width: 90%;
	max-height:95%;
	float:center;
	margin: 0 auto;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
	z-index: 1;
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
   /* background:url(overlay.png) repeat; */
	background: rgba(0,0,0,.7);
    text-align:center;
}

#lightbox p {
    text-align:right; 
    color:#fff; 
    margin-right:20px; 
    font-size:12px; 
}

#lightbox img {
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:90%;
}

#outer_wrapper {
	max-width:1480px;
}

#imgcontent {
	margin: 0 auto;
	float:center;	
	padding-left: 5px;
}

#content {
	max-width: 700px;
	margin: 0 auto;
	float:center;	
	padding-left: 5px;
}

#recent-contacts {
	margin-left: 5px;
}

#recent-images {
	margin-left: 5px;
}

#timeandtitle {
	text-align:center;
}
#datetime {
	display:inline-block;
	float: right;
	margin-right: 5px;
}

#datetime.row {
	padding:0px;
	margin-bottom:0px;
}

#clock {
	text-align:center;
	margin: 0 auto;
	vertical-align: middle;
}

#clock.row {
	padding:0px;
	margin-bottom:0px;
	height:auto;
}

#clock h2 {
	text-align:center;
	width: 99%;
	margin:0 auto;
	vertical-align: middle;
	}

#date {
	text-align:center;
	margin:0 auto;
	vertical-align: middle;
}

#date.row {
	padding:0px;
	margin-bottom:0px;
	height:auto;
	float: center;
}

#date h2 {
	text-align:center;
	width: 99%;
	margin:0 auto;
	vertical-align: middle;
}

#title {
	float: right;
	clear: right;
	color:green;
	text-align:center;
	margin:0 auto;
	height:auto;
	display: inline-block;
}

#title h1 {
	text-align:right;
	vertical-align:middle;
	padding:0px;
	margin-bottom:0px;
	}
#fd_callsign {
	float:center;
}

#prog_name {
	float:left;
	margin-left:5px;
}

#greeting {
	float:left;
	margin-left:5px;
}

/*#fdcallsign {
	color:#19327A;
}*/

#inner_wrapper {
	margin: 0 auto;
}

#nav_button {
	float: left;
}

#content a {
	text-decoration:none;
	color: #2AA7CF;
	max-height: 1em;
}

#welcome {
	display:block;
	margin-left: 5px;
}

#home_images {
	margin: 10px;
	float: center;
	width: 200px;
	max-height: 200px;
	line-height: 200px;
	overflow-y: hidden;
	overflow-x: hidden;
	vertical-align: middle;
	border-radius: 10px;
}

#home_images img {
	margin: 0 auto;
	max-height: 250px;
	vertical-align: middle;
	float: center;
	border-radius: 10px;
}

#name {
	text-align: left;
	margin-left: 8px;
}

#next {
	text-align: right;
	float: right;
	width: 33%
}
#back {
	text-align: left;
	float: left;
	width: 33%;
}
#page_count {
	text-align: center;
	width: 34%;
}
#pages{
	font-size: 18px;
	display:table;
	width: 99%;
	margin: 0 auto;
}

#postfd input {
	margin: 5px;
}

.uploads {
	/*display:flex;
	flex-wrap:wrap;
	align-content:space-around;*/
	display:inline-block;
	text-align:center;
	margin: 10px;
	float: center;
	width: 260px;
	height: 260px;
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

.uploads img {
	max-height: 250px;
	vertical-align: middle;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	height:auto;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%
}

.col-12 {
	width: 100%	
}
